@model IEnumerable<ShieldRPG.Repositories.DataRecord>

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListDb</title>
</head>
<body>
    <p>
        <a asp-action="CreateRecord">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Access)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Access)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditRecord", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
