@model IEnumerable<ShieldRPG.Repositories.DataRecordView>

@{
    Layout = "~/Views/Shared/_DarknetLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DBList</title>
</head>
<body>
    <table class="table" id="darknet">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequestType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Access)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <p>
                        <a class="darknet" href="@Url.Action("Terminal", "Darknet", new { id = item.Id }, Context.Request.Scheme)">
                            @Html.DisplayFor(modelItem => item.Code)
                        </a>
                    </p>

                </td>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.RequestType)
                    </p>
                </td>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.Access)
                    </p>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
